#
# Mailmap for IETR/INSA Rennes Preesm application
#
# Format is :
#   "printed Name" "<printed mail>" "logged Name" "<logged mail>"
#

# C
Cedric Leonard <cleonard@insa-rennes.fr> CedricLeon <cedric.leonard@insa-rennes.fr>

# E
Elinor Montmasson <elinor.montmasson@gmail.com> Emmanuel Montmasson <emmanuel.montmasson@gmail.com>

# K
Karol Desnos <kdesnos@insa-rennes.fr> kdesnos <kdesnos@insa-rennes.fr>
Kilian Vincent <kvincent@insa-rennes.fr> Vincent Kilian <kilian.vincent@insa-rennes.fr>
Kilian Vincent <kvincent@insa-rennes.fr> kilian <Kilian.Vincent@insa-rennes.fr>

# M
Mickaël Dardaillon <mdardail@insa-rennes.fr> Dardaillon Mickael <mickael.dardaillon@insa-rennes.fr>
Mickaël Dardaillon <mdardail@insa-rennes.fr> Mickaël Dardaillon <mickael.dardaillon@insa-rennes.fr>

# N
Nicolas Sourbier <nsourbie@insa-rennes.fr> NicolasSb <nicolas.sourbier@insa-rennes.fr>
Nicolas Sourbier <nsourbie@insa-rennes.fr> Sourbier Nicolas <nicolas.sourbier@insa-rennes.fr>
Nicolas Sourbier <nsourbie@insa-rennes.fr> nicolas <nicolas.sourbier1@gmail.com>

# P
Pierre-Yves Le Rolland-Raumer <plerolla@insa-rennes.fr> Pierre-Yves <plerolla@insa-rennes.fr>
Pierre-Yves Le Rolland-Raumer <plerolla@insa-rennes.fr> Le Rolland-Raumer Pierre-Yves <pierre-yves.le-rolland-raumer@insa-rennes.fr>

# T
Thomas Bourgoin <tbourgoi@insa-rennes.fr> Bourgoin Thomas <thomas.bourgoin@insa-rennes.fr>

# Q
Quentin Vacher <qvacher@insa-rennes.fr> Quentin <quentinvcher@gmail.com>
